// Import page-specific CSS files here.
@import "home";

.logo{
  width: 130px;
}

.btn-primary {
  background-color: #E1565B;
  border: 1px solid #E1565B;
}


.btn-primary:active {
  background-color: #D0453A;
  border-color: #D0453A;
}

.btn-primary:focus {
  background-color: #D0453A;
  border-color: #D0453A;
  outline: none;
}

.tours-index-search-bar{
  border-radius: 15px;

}


.search-btn{
  border-radius: 50%;
  position: absolute;
  right: 8vw;
  background-color: transparent;
  border: none;
  color: black;
}
