<div class="container">
  <h1>Upcoming tours:</h1>
      <% if @upcoming_tours.count.zero?  %>
      <div class="card-product">
        <div class="card-product-infos">
          <p class="text-center">You have no upcoming tours <i class="fa-regular fa-face-sad-tear"></i></p>
        </div>
      </div>
      <% else %>
        <%= render partial: 'shared/my_tours_card', collection: @upcoming_tours, as: :tour %>
      <% end %>

      <h1>Previous tours:</h1>

      <% if @prev_tours.count.zero?  %>
        <div class="card-product">
          <div class="card-product-infos">
        <%# <div class="container d-flex align-items-center justify-content-center"> %>
            <p class="text-center">You have no previous tours <i class="fa-regular fa-face-sad-tear"></i></p>
          </div>
        </div>
      <% else %>
        <%= render partial: 'shared/my_tours_card', collection: @prev_tours, as: :tour %>
      <% end %>
</div>
