<div class="container">
  <h1>Tour Details</h1>

  <% if @tour.user == current_user %>
    <%= render partial: 'shared/show_guide_tour', locals: { tour: @tour } %>
  <% else %>
    <%= render partial: 'shared/show_client_tour', locals: { tour: @tour } %>
     <%= render 'shared/booking_button' %>
  <% end %>
</div>
