.btn-red-primary {
  background-color: $red;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  width: 80%;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  display: block;

}
