.review-form-group{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-content{
  height: 20vh;
  width: 50vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.review-form-group-rating{
  display: flex;
  flex-direction: row;
  gap: 2vw;

}

.star{
  opacity: 0;
}

.star-rating{
  font-size: 1.8rem;
  color: white;
  -webkit-text-stroke: 2px black;

}

.filled{
  color: gold;
  -webkit-text-stroke: 0px black;
}
